html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fffdfa;

  /* Font styles */
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  letter-spacing: -0.04em;
  font-size: 14px;
  color: 0000;
}

.primaryTitle {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  letter-spacing: -0.04em;
  font-weight: 600;
  font-size: 2.1em;

  @media (max-width: 1024px) {
    font-size: 1.9em;
  }
}

.secondaryTitle {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.3;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 1.5em;

  @media (max-width: 1024px) {
    font-size: 1.3em;
  }
}

.primaryTextSmall {
  font-family: 'Inter', sans-serif;
  margin: 0;
  line-height: 1.3;
  letter-spacing: -0.04em;
  font-weight: 300;
  font-size: 0.8em;
}

.primaryTextExtraSmall {
  font-size: 0.5em;
  font-weight: 400;
}

.navigationLink {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;

  @media (max-width: 1024px) {
    font-size: 0.8em;
  }
}
