html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ece7dc;

  /* Font styles */
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  color: 0000;
}

.primaryTextLarge {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 5px;
}

.primaryTextMedium {
  font-size: 1em;
  letter-spacing: 5px;
}

.primaryTextSmall {
  font-size: 0.75em;
}

.primaryTextSmallSpaced {
  letter-spacing: 5px;
}

.primaryTextExtraSmall {
  font-size: 0.5em;
}
